@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-sans: 'Atkinson Hyperlegible', sans-serif;
}
body{
  font-size: 1.2rem;
}
h1,h2{
  font-family: 'Anton';
  letter-spacing: 0.1rem;
  margin-top: 2rem;
}
h1,h2,h3,h4,h5{
  font-weight: bold;
  text-transform: uppercase;
}

h4,h5{
   margin-top: 2rem;
}

h3{
   margin-top: 1.5rem;

}
h1{
  margin-bottom: 2rem;
  @apply text-4xl;
}

h2{
  font-size: 1.6rem;
}
 img:first-child {
  margin: 2rem auto;
  text-align: center;
}

hr {
@apply my-8
}

.scrib,
.main-home{
 font-family: "Permanent Marker", cursive;
}
.module-content strong{
   font-weight: bolder;
}
.module-content p{
   @apply my-4
}
.module-content h2{
   @apply pt-4 border-b 
}
.module-content li{
  list-style: disc;
  margin-left: 4rem;
}
.module-content>h1{
text-align: center;
font-size: 3rem;

}

.modules-navigation li{
    list-style: none;
  margin-left: 0;
}

/** L’effet Von Restroff **/
/* Démonstration 1: Liste de produits */
.product-grid{
  @apply grid grid-cols-4 gap-6;
}
.product-card{
  @apply col-span-8 md:col-span-4 lg:col-span-2 xl:col-span-1  bg-slate-100 dark:bg-slate-950 flex flex-col items-center justify-center p-6 shadow-lg text-center cursor-pointer; 
  transition: all 0.3s ease;
}
.product-card:hover {
  @apply translate-y-[-5px];
}
.product-card .badge{
  @apply bg-primary mb-2 text-sm font-bold mb-1 inline-block py-1 px-2;
}
.product-card h3 {
  @apply mb-2 text-2xl;
}
.product-card.featured h3{
  @apply text-white;
}
.product-card.featured .price {
  @apply text-white text-shadow-lg ;
}
.product-card .price {
  @apply font-bold text-2xl text-[#27ae60];
}
.product-card.featured {
  @apply text-white scale-[1.05] bg-radial from-[#ED0040] from-40% to-[#ff6b6b] shadow-xl shadow-[#ff6b6b4d];
  animation: pulse-glow 2s infinite;
}

/* Démonstration 2: Formulaire */
.form-group {
   @apply mb-2;
}

/** Animations **/

@keyframes pulse-glow {
  0%, 100% { 
    box-shadow: 0 15px 35px rgba(255, 107, 107, 0.3);
    transform: scale(1.05);
  }
  50% { 
    box-shadow: 0 20px 45px rgba(255, 107, 107, 0.5);
    transform: scale(1.08);
  }
}

@keyframes subtle-bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-2px); }
}

@keyframes call-to-action {
    0%, 100% { 
        transform: scale(1.05);
    }
    50% { 
        transform: scale(1.08);
    }
}

/** Responsif **/

@media (max-width: 448px) { 
  .module-content li{
    list-style: disc;
    margin-left: 1.5rem;
    margin-top: 0.5rem;
  }
}

@media (max-width: 768px) {
    .nav-demo {
        flex-direction: column;
    }
    
    .nav-item {
        border-right: none;
        border-bottom: 1px solid #bdc3c7;
    }
    
    .form-buttons {
        flex-direction: column;
    }
    
}