@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-sans: 'Atkinson Hyperlegible', sans-serif;
}

body{
  font-size: 1.2rem;
  @apply bg-slate-50;
}

h1,h2{
  font-family: 'Anton';
  letter-spacing: 0.1rem;
}

h1,h2,h3,h4,h5{
  font-weight: bold;
  text-transform: uppercase;
}

h4,h5{
   margin-top: 2rem;
}

h3{
   margin: 2rem 0 0.5rem 0;

}

h1{
  @apply text-4xl my-6;
}

h2{
  font-size: 1.6rem;
  margin: 2rem 0;
@apply pt-4 border-b ;
}

 img:first-child {
  margin: 2rem auto;
  text-align: center;
}

hr {
@apply my-8 ;
}
pre,
code{
  @apply font-mono bg-slate-100 dark:bg-slate-950 text-wrap text-base;
}
.font-marker{
 font-family: "Permanent Marker", cursive;
}

.bg-default{
  @apply bg-slate-50 dark:bg-slate-800;
}
.nav-wrapper{
  @apply flex z-40  fixed justify-between items-center border-b border-default w-full;
}
.nav-home-link{
  @apply p-4 font-bold flex items-center justify-around hover:text-white; 
}

.main-nav-title{
  @apply uppercase font-bold text-3xl p-4;
}
.home-link{
  @apply ml-2 text-primary;
}
.main-wrapper {
  @apply min-h-screen flex flex-col justify-between z-0 ;
}
.nav-home-link:hover .home-link{
  @apply text-white;
}
.main{
  @apply   w-full mx-auto mt-8 pt-8; 
}

.remede{
  @apply bg-slate-100 dark:bg-slate-950 p-4 mt-2
}